@model IEnumerable<MemoPlus.Models.Memo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My memos</h2>

<br />
@{
    var fixedMemos = Model.Where(m => m.IsFixed == true).OrderByDescending(m => m.CreationDate).ToList();
    var notFixedMemos = Model.Where(m => m.IsFixed == false).OrderByDescending(m => m.CreationDate).ToList();
    if (fixedMemos.Any())
    {
        <h4><i class="fas fa-thumbtack"></i> Fixed memos</h4>
        <br />
        <div class="row">
            @foreach (var fixedMemo in fixedMemos)
            {
                <a class="no-effect" asp-action="Details" asp-route-id="@fixedMemo.MemoId">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 pb-1">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="preview-memo-title">@fixedMemo.MemoTitle</h5>
                                <p class="preview-memo-text">@fixedMemo.MemoText</p>
                                <span class="text-secondary">Created: @fixedMemo.CreationDate</span>
                            </div>
                            <div class="card-footer">
                                <a asp-action="Edit" asp-route-id="@fixedMemo.MemoId">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@fixedMemo.MemoId">Delete</a>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
        <br />
        <hr />
        <br />
    }
    if (notFixedMemos.Any())
    {
        <div class="row">
            @foreach (var notFixedMemo in notFixedMemos)
            {
                <a class="no-effect" asp-action="Details" asp-route-id="@notFixedMemo.MemoId">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-12 pb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="preview-memo-title">@notFixedMemo.MemoTitle</h5>
                                <p class="preview-memo-text">@notFixedMemo.MemoText</p>
                                <span class="text-secondary">Created: @notFixedMemo.CreationDate</span>
                            </div>
                            <div class="card-footer">
                                <a asp-action="Edit" asp-route-id="@notFixedMemo.MemoId">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@notFixedMemo.MemoId">Delete</a>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    }
}
